<section class="px-5 py-4 progress-body" id="in-progress-requests" aria-label="In-Progress Requests Page" tabindex="0">
    <h1 class="display-6">In-Progress Requests</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
        <div *ngFor="let ticket of tickets;" class="col">
            <div class="card">
                <div class="card-body main-color rounded shadow">
                    <h5 class="card-title">{{ ticket?.categoryName }}</h5>
                    <p class="card-text">{{ ticket?.ticketDescription }}</p>
                    <p class="text-muted"><b>Created At:</b> {{ ticket?.ticketCreatedTime | date:'medium' }}</p>
                    <button type="button" class="btn btn-primary btn-sm me-1" (click)="editTicket(ticket)"
                        data-bs-toggle="modal" data-bs-target="#edit-modal">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm me-1">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm me-1">
                        <i class="bi bi-person-plus-fill"></i> Assign Admin
                    </button>
                </div>
                <!-- <div class="card-body main-color rounded shadow">
                    <h5 class="card-title">Test</h5>
                    <p class="card-text">Test description</p>
                    <p class="text-muted"><b>Created At:</b> 2040-01-01 01:01:01</p>
                    <button type="button" class="btn btn-primary btn-sm me-1">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm me-1">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm me-1">
                        <i class="bi bi-person-plus-fill"></i> Assign Admin
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- Edit Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-modal-title">Edit Request</h5>
            </div>
            <div class="modal-body me-3">
                <select class="form-select m-2" id="edit-request-category" [(ngModel)]="editTicketDetails.categoryName" 
                    name="category" tabindex="0">
                    <option value="" disabled selected>Select a category</option>
                    <option *ngFor="let category of categoryNames">{{ category }}</option>
                </select>
                <textarea class="form-control m-2" id="edit-request-description" placeholder="Enter a description"
                    [(ngModel)]="editTicketDetails.ticketDescription" rows="4" name="description" tabindex="0" 
                    aria-label="Enter a description">
                </textarea>
                <p class="text-muted"><b>Created At:</b> {{ editTicketDetails.ticketCreatedTime | date:'medium' }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>