.progress-body { background-color: #fff; }

.card-body { height: auto; }

.main-color { background-color: #d7c0ae; }

.error-border { border: 1px solid #f00; }

.cancel-color { background-color: #aaa; }
