<div class="container m-4">
    <div class="row">
        <div class="col-md-12 error-container">
            <h1 class="error-heading">404</h1>
            <p class="error-message">Page Not Found</p>
            <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg" 
                alt="Error Illustration" class="error-image">
            <p>Or you can go to the <a href="/">Login</a> or <a href="/signup">Sign Up</a> page</p>
        </div>
    </div>
</div>
