<section class="container-fluid mt-4 px-4" id="previous-requests-body" *ngIf="userId !== 0">
    <div class="tab-container" id="admin-previous-requests-tab-container">
        <ul class="nav nav-tabs" id="main-content" role="tablist">
            <li class="nav-item" id="list-item-admin-approved-requests" role="tab">
                <button class="nav-link" id="admin-approved-requests-tab-link" (click)="setActiveTab('approved')"
                    [ngClass]="{'active': activeTab === 'approved'}" aria-label="Approved List Tab">Approved</button>
            </li>
            <li class="nav-item" id="list-item-admin-rejected-requests" role="tab">
                <button class="nav-link" id="admin-rejected-requests-tab-link" (click)="setActiveTab('rejected')" 
                    [ngClass]="{'active': activeTab === 'rejected'}" aria-label="Rejected List Tab">Rejected</button>
            </li>
        </ul>
        <div class="tab-content mt-3" id="admin-previous-requests-content">
            <div class="tab-pane fade" id="admin-approved-requests-tab-panel" role="tabpanel"
                [ngClass]="{'show active': activeTab === 'approved'}">
                <h2 class="display-6" id="admin-approved-requests-title" tabindex="0">Approved Requests</h2>
                <div class="alert alert-info mt-4" id="admin-approved-empty-alert" tabindex="0"
                    *ngIf="tickets === null || tickets.length === 0" [attr.aria-hidden]="!isEmpty">
                    <b>No tickets approved yet</b>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-5 py-4" id="admin-approved-card-grid">
                    <div *ngFor="let ticket of tickets" class="col" id="admin-approved-card-column">
                        <app-ticket-card id="admin-approved-card-cmponent" [ticket]="ticket" [status]="'approved'">
                        </app-ticket-card>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="admin-rejected-requests-tab-panel" role="tabpanel"
                [ngClass]="{'show active': activeTab === 'rejected'}">
                <h2 class="display-6" id="admin-rejected-requests-title" tabindex="0">Rejected Requests</h2>
                <div class="alert alert-info mt-4" id="admin-rejected-empty-alert" tabindex="0"
                    *ngIf="tickets === null || tickets.length === 0" [attr.aria-hidden]="!isEmpty">
                    <b>No tickets rejected yet</b>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-5 py-4" id="admin-rejected-card-grid">
                    <div *ngFor="let ticket of tickets" class="col" id="admin-rejected-card-column">
                        <app-ticket-card id="admin-rejected-card-cmponent" [ticket]="ticket" [status]="'rejected'">
                        </app-ticket-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
