.main-color { background-color: #d7c0ae; }

.form-container { max-width: 1000px; }

.text-center img { width: 200px; }

.form-outline { position: relative; }

.form-outline .show-icon {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent; 
    border: none;
}

.error-border { border: 1px solid #f00; }

a:hover,
a:focus { color: #134b5e; }

.btn-color { background-color: #555; }

.btn-color:hover { background-color: #777; }