<section id="profile" aria-label="profile" tabindex="0">
    <div class="container p-5 my-3" *ngIf="currentUser">
        <div class="card main-color">
            <div class="card-header">
                <h2>User Details</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>First Name:</strong> {{ currentUser.firstName }}</p>
                        <p><strong>Last Name:</strong> {{ currentUser.lastName }}</p>
                        <p><strong>Designation:</strong> {{ currentUser.designation }}</p>
                        <p><strong>Email:</strong> {{ currentUser.email }}</p>
                        <p><strong>Country:</strong> {{ currentUser.country.countryName }}</p>
                        <p><strong>State:</strong> {{ currentUser.state }}</p>
                        <p><strong>Address:</strong> {{ currentUser.address }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Phone Number:</strong> {{ currentUser.phone_no }}</p>
                        <p><strong>Created At:</strong> {{ currentUser.createdAt | date }}</p>
                        <h4 class="mt-3">Roles:</h4>
                        <ul>
                            <li *ngFor="let role of currentUser.roles">
                                <strong>{{ role.roleName }}</strong>: {{ role.roleDescription }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

