body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  margin: 0;
  background-color: #f0f0f0; /* Optional: Background color */
}

.custom-border {
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the form */
  max-width: 400px; /* Limit form width */
  background-color: #fff; /* Form background color */
}

/* Custom styling */
.form-container {
  padding: 20px; /* Padding around the form */
  margin-bottom: 50px; /* Margin at the bottom to create space */
}

@media (max-width: 760px) {
  /* Adjustments for smaller screens */
  .form-container {
    padding: 10px; /* Decrease padding */
    margin-top: 300px; /* Decrease margin */
  }
}

.gradient-custom-2 {
  /* Ensure minimum height is reduced */
  min-height: auto;
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
