<div class="container" id="signup-main">
  <div class="form-container" id="signup-form-box">
    <form class="border rounded p-3 bg-white" id="signup-form">
      <div class="row mb-3" id="first-last-name-row">
        <div class="col-md-6" id="first-name-div">
          <label for="inputFirstName" class="form-label" id="first-name-label"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="inputFirstName"
            placeholder="First Name"
            #firstName
          />
        </div>
        <div class="col-md-6" id="last-name-div">
          <label for="inputLastName" class="form-label" id="last-name-label"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="inputLastName"
            placeholder="Last Name"
            #lastName
          />
        </div>
      </div>
      <div class="mb-3" id="designation-div">
        <label for="inputDesignation" class="form-label" id="designation-div"
          >Designation</label
        >
        <input
          type="text"
          class="form-control"
          id="inputDesignation"
          placeholder="Software Engineer"
          #designation
        />
      </div>
      <div class="row mb-3" id="email-phone-row">
        <div class="col-md-6" id="email-div">
          <label for="inputEmail" class="form-label" id="email-label"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="Email"
            #email
          />
        </div>
        <div class="col-md-6" id="phone-div">
          <label for="inputPhoneNumber" class="form-label" id="phone-label"
            >Phone No.</label
          >
          <input
            type="text"
            class="form-control"
            id="inputPhoneNumber"
            placeholder="Phone Number"
            #phoneNumber
          />
        </div>
      </div>
      <div class="row mb-3" id="country-state-row">
        <div class="col-md-6" id="country-div">
          <label for="inputCountry" class="form-label" id="country-label"
            >Country</label
          >
          <input
            type="text"
            class="form-control"
            id="inputCountry"
            placeholder="Country"
            #country
          />
        </div>
        <div class="col-md-6" id="state-div">
          <label for="inputState" class="form-label" id="state-label"
            >State</label
          >
          <input
            type="text"
            class="form-control"
            id="inputState"
            placeholder="State"
            #state
          />
        </div>
      </div>
      <div class="mb-3" id="address-div">
        <label for="inputAddress" class="form-label" id="address-label"
          >Address</label
        >
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="1234 Main St"
          #address
        />
      </div>
      <div class="row mb-3" id="pass-confirm-pass-row">
        <div class="col-md-6 form-outline" id="password-div">
          <label for="inputPassword" class="form-label" id="password-label"
            >Password</label
          >
          <div class="input-group" id="password-input-group">
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              #password
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="password-toggle-button"
              (click)="togglePasswordVisibility('inputPassword')"
            >
              <i id="toggleInputPasswordButton" class="bi bi-eye-slash"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 form-outline" id="confirm-password-div">
          <label
            for="inputConfirmPassword"
            class="form-label"
            id="confirm-password-label"
            >Confirm Password</label
          >
          <div class="input-group" id="confirm-password-group">
            <input
              type="password"
              class="form-control"
              id="inputConfirmPassword"
              placeholder="Password"
              #confirmPassword
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="confirm-password-toggle-button"
              (click)="togglePasswordVisibility('inputConfirmPassword')"
            >
              <i
                id="toggleInputConfirmPasswordButton"
                class="bi bi-eye-slash"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="sign-up-group" id="signup-div">
        <button
          type="button"
          class="btn btn-primary btn-block gradient-custom-2"
          id="sign-up-button"
          (click)="
            signup(
              firstName.value,
              lastName.value,
              designation.value,
              email.value,
              phoneNumber.value,
              country.value,
              state.value,
              address.value,
              password.value,
              confirmPassword.value
            )
          "
        >
          Sign Up
        </button>
        <div class="d-flex flex-row" id="login-div">
          <p class="mb-0 me-2" id="login-text">Already have an account?</p>
          <a
            class="btn btn-outline-danger"
            id="login-button"
            routerLink="/login"
            >Login</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
