body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
}

.custom-border {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 20px; 
  max-width: 400px;
  background-color: #fff; 
}

.form-container {
  padding: 40px; 
}

.gradient-custom-2 {
  min-height: auto;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.form-outline {
  position: relative;
}

.form-outline .show-password {
  position: absolute;
  top: 75%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .form-container {
    padding: 10px; 
    margin-top: 560px; 
  }
}
