.signup-body { background-color: lightblue; }

.form-container { max-width: 1000px; }

.form-control { height: 2rem; }

.error-border { border: 1px solid red; }

.btn { height: 2rem; }

.form-outline { position: relative; }

.country i {
    position: relative;
    top: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 1;
}

a:hover,
a:focus { color: rgb(19, 75, 94); }

@media (max-width: 992px) {

    .sign-up-group { margin-top: -20px; }
}

@media (max-width: 768px) {

    .final-error { margin-bottom: 20px; }
}
