<section class="signup-body" id="signup-box-main" tabindex="0" aria-label="Signup Page Body" role="signup-body">
    <div class="container p-2" id="signup-box-container">
        <div class="form-container m-auto p-4" id="signup-form-box">
            <form class="border rounded p-3 main-color" id="signup-form">
                <h1 class="display-6 bold text-center" tabindex="0" id="sign-up-heading">
                    <b>Create a New Account</b>
                </h1>
                <div class="row mt-2" id="name-desigation-row">
                    <div class="col-md-4" id="first-name-div">
                        <label for="input-first-name" class="form-label" id="first-name-label">First Name</label>
                        <input type="text" class="form-control" id="input-first-name" placeholder="First Name" 
                            tabindex="0" name="firstName" [(ngModel)]="signUpData.firstName" 
                            [ngClass]="{'error-border': errorsMap.has('firstName') }" />
                        <p class="text-danger" id="first-name-error-text" tabindex="0">
                            {{ errorsMap.get('firstName') }}
                        </p>
                    </div>
                    <div class="col-md-4" id="last-name-div">
                        <label for="input-last-name" class="form-label" id="last-name-label">Last Name</label>
                        <input type="text" class="form-control" id="input-last-name" placeholder="Last Name" 
                            tabindex="0" name="lastName" [(ngModel)]="signUpData.lastName"
                            [ngClass]="{'error-border': errorsMap.has('lastName') }" />
                        <p class="text-danger" id="last-name-error-text" tabindex="0">
                            {{ errorsMap.get('lastName') }}
                        </p>
                    </div>
                    <div class="col-md-4" id="designation-div">
                        <label for="input-designation" class="form-label" id="designation-div">Designation</label>
                        <input type="text" class="form-control" id="input-designation" placeholder="Software Engineer" 
                            tabindex="0" name="designation" [(ngModel)]="signUpData.designation"
                            [ngClass]="{'error-border': errorsMap.has('designation') }" />
                        <p class="text-danger" id="designation-error-text" tabindex="0">
                            {{ errorsMap.get('designation') }}
                        </p>
                    </div>
                </div>
                <div class="row" id="email-phone-row">
                    <div class="col-md-6" id="email-div">
                        <label for="input-email" class="form-label" id="email-label">Email</label>
                        <input type="email" class="form-control" id="input-email" placeholder="Email" tabindex="0" 
                            [ngClass]="{'error-border': errorsMap.has('email') }" name="email" 
                            [(ngModel)]="signUpData.email" />
                        <p class="text-danger" id="email-error-text" tabindex="0">
                            {{ errorsMap.get('email') }}
                        </p>
                    </div>
                    <div class="col-md-6" id="phone-div">
                        <label for="input-phone-number" class="form-label" id="phone-label">Phone Number</label>
                        <input type="text" class="form-control" id="input-phone-number" placeholder="Phone Number" 
                            tabindex="0" name="phoneNumber" [(ngModel)]="signUpData.phoneNumber"
                            [ngClass]="{'error-border': errorsMap.has('phoneNumber') }" />
                        <p class="text-danger" id="phone-number-error-text" tabindex="0">
                            {{ errorsMap.get('phoneNumber') }}
                        </p>
                    </div>
                </div>
                <div class="row" id="country-state-row">
                    <div class="col-md-6 country" id="country-div">
                        <label for="input-country" class="form-label" id="country-label">Country</label>
                        <div class="input-group">
                            <input class="form-control" id="input-country" list="countries" 
                                placeholder="Search Country" [(ngModel)]="searchText" name="searchText" 
                                [ngClass]="{'error-border': errorsMap.has('country') }" />
                            <button class="btn btn-outline-secondary" id="country-dropdown-icon" tabindex="-1">                     
                                <i class="dropdown-toggle" id="dropdown-toggle-icon"></i>	                               
                            </button>
                        </div>
                        <datalist id="countries" name="country">
                            <option *ngFor="let countryName of getFilteredCountryNames()" [value]="countryName">
                                {{ countryName }}
                            </option>
                        </datalist>
                        <p *ngIf="countries?.length !== 0 && getFilteredCountryNames()?.length === 0" tabindex="0"
                            class="text-danger mb-0" >
                            No countries available
                        </p>
                        <p class="text-danger" id="country-error-text" tabindex="0">
                            {{ errorsMap.get('country') }}
                        </p>
                    </div>
                    <div class="col-md-6" id="state-div">
                        <label for="input-state" class="form-label" id="state-label">State</label>
                        <input type="text" class="form-control" id="input-state" placeholder="State" tabindex="0" 
                        [ngClass]="{'error-border': errorsMap.has('state') }" name="state" 
                        [(ngModel)]="signUpData.state" />
                        <p class="text-danger" id="state-error-text" tabindex="0">
                            {{ errorsMap.get('state') }}
                        </p>
                    </div>
                </div>
                <div class="row" id="address-div">
                    <label for="input-address" class="form-label" id="address-label">Address</label>
                    <div id="address-input-row">
                        <input type="text" class="form-control" id="input-address" placeholder="1234 Main St" tabindex="0"
                        [ngClass]="{'error-border': errorsMap.has('address') }" name="address" 
                        [(ngModel)]="signUpData.address" />
                            <p class="text-danger" id="address-error-text" tabindex="0">
                                {{ errorsMap.get('address') }}
                            </p>
                    </div>
                </div>
                <div class="row" id="password-confirm-password-row">
                    <div class="col-md-6 form-outline" id="password-div">
                        <label for="input-password" class="form-label" id="password-label">Password</label>
                        <div class="input-group" id="password-input-group">
                            <input type="{{ passwordType }}" class="form-control" id="input-password" 
                                placeholder="Password" tabindex="0" name="password" [(ngModel)]="signUpData.password"
                                [ngClass]="{'error-border': errorsMap.has('password') }" />
                            <button class="btn btn-outline-secondary" type="button" id="password-toggle-button" 
                                tabindex="0" aria-label="Show or Hide Password" title="Show or Hide Password"
                                (click)="togglePasswordVisibility('password')">
                                <i id="toggle-input-password-button" class="{{ togglePasswordClass }}"></i>
                            </button>
                        </div>
                        <p class="text-danger" id="password-error-text" tabindex="0">
                            {{ errorsMap.get('password') }}
                        </p>
                    </div>
                    <div class="col-md-6 form-outline" id="confirm-password-div">
                        <label for="input-confirm-password" class="form-label" id="confirm-password-label">
                            Confirm Password</label>
                        <div class="input-group" id="confirm-password-group">
                            <input type="{{ confirmPasswordType }}" class="form-control" id="input-confirm-password" 
                                placeholder="Password" tabindex="0" name="confirmPassword" [(ngModel)]="confirmPassword"
                                 [ngClass]="{'error-border': errorsMap.has('confirmPassword') }" />
                            <button class="btn btn-outline-secondary" type="button" id="confirm-password-toggle-button"
                                tabindex="0" aria-label="Show or Hide Password" title="Show or Hide Password"
                                (click)="togglePasswordVisibility('confirmPassword')">
                                <i id="toggle-input-confirm-password-button" class="{{ toggleConfirmPasswordClass }}"></i>
                            </button>
                        </div>
                        <p class="text-danger" id="confirm-password-error-text" tabindex="0">
                            {{ errorsMap.get('confirmPassword') }}
                        </p>
                    </div>
                </div>
                <p class="text-danger final-error" id="final-error-text" tabindex="0">
                    <b>{{ errorMessage }}</b>
                </p>
                <div class="sign-up-group d-flex flex-column align-items-center justify-content-center" id="signup-div">
                    <button type="button" class="btn btn-color h-25 text-white" id="sign-up-button"
                        tabindex="0" aria-label="Signup Button" (click)="signUp()">Sign Up</button>
                    <div class="d-flex flex-column flex-md-row align-items-center" id="login-div">
                        <p class="mb-0 me-2" id="login-text" tabindex="0">Already have an account?</p>
                        <a class="link-underline link-underline-opacity-0" id="login-link" tabindex="0" 
                            aria-label="Login Link" role="link" title="Login Link" routerLink="/login">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
