<div *ngIf="userId === 0">
    <div class="alert alert-warning" id="admin-login-alert" role="alert">
        <strong>Notice:</strong> Please <a [routerLink]="['/login']" class="alert-link text-primary">login</a> to continue.
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top" id="navbar" aria-label="Navbar" tabindex="0"
    *ngIf="userId !== 0" [ngClass]="{'navbar-hidden': isNavbarHidden}">
    <h1 class="navbar-brand display-6 ms-lg-4 ms-2" id="app-title" tabindex="0"><b>Service Requests App</b></h1>
    <div class="d-flex align-items-center d-lg-none mb-3">
        <button class="navbar-toggler" id="nav-toggle" type="button" data-bs-toggle="collapse" tabindex="0"
            data-bs-target="#navbar-div" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="nav-toggle-icon"></span>
        </button>
        <a class="nav-item rounded nav-link p-2 mx-2" id="profile-link" aria-label="profile" tabindex="0"
        [routerLink]="['/admin/nav/profile']">
            <i class="bi bi-person-fill"></i> {{ firstName }}
        </a>
        <a class="nav-item rounded nav-link px-2 mx-2" id="user-home-link" routerLinkActive="active" tabindex="0"
            (click)="switchToUser()">User Home</a>
        <a class="nav-item rounded nav-link logout p-2 mx-2" id="logout-link" aria-label="logout" tabindex="0"
            (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-div">
        <div class="navbar-nav d-flex flex-sm-row flex-column ms-lg-4" id="navbar-links">
            <a class="nav-item rounded nav-link px-2" id="home-link" routerLinkActive="active" tabindex="0"
                [routerLink]="['/admin/nav/home']">Home</a>
            <a class="nav-item rounded nav-link px-2" id="all-requests-link" routerLinkActive="active" tabindex="0"
                [routerLink]="['/admin/nav/previous-reqs']">Previous Requests</a>
            <a class="nav-item rounded nav-link px-2" id="assigned-requests-link" routerLinkActive="active" tabindex="0"
                [routerLink]="['/admin/nav/manage-users']">Manage Users</a>
            <a class="nav-item rounded nav-link px-2 d-lg-block d-none" id="profile-link" aria-label="profile" 
                [routerLink]="['/admin/nav/profile']" tabindex="0">
                <i class="bi bi-person-fill"></i> {{ firstName }}
            </a>
            <a class="nav-item rounded nav-link px-2 d-lg-block d-none" id="user-home-link" routerLinkActive="active" 
                tabindex="0" (click)="switchToUser()">User Home</a>
            <a class="nav-item rounded nav-link logout mx-2 d-lg-block d-none" id="logout-link" aria-label="logout" 
                tabindex="0" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </div>
</nav>
<header class="main-color py-3" id="admin-header" [ngClass]="{'navbar-hidden': isNavbarHidden}">
    <div class="container ms-4">
        <h1 class="h2" id="admin-dashboard-title" tabindex="0">Admin Dashboard</h1>
    </div>
</header>
<router-outlet></router-outlet>
