<section class="error" id="error-main-body" tabindex="0" aria-label="Error Body" role="error-body">
    <div class="container p-5 text-white" id="error-main-container">
        <div class="row" id="error-row">
            <div class="col-md-12 error-container" id="error-container">
                <div class="col-9" id="error-column">
                    <img src="https://static.vecteezy.com/system/resources/previews/001/346/974/non_2x/404-page-oops-page-desert-background-free-vector.jpg" 
                        class="img-fluid" alt="Error 4 not 4, Page Not Found Image" id="error-404-image" tabindex="0" 
                        title="Error 4 not 4, Page Not Found Image" />
                    <p class="mt-4 text-center text-black" id="error-redirect-text" tabindex="0">
                        You can go to the 
                        <a routerLink="/login" id="error-login-link" role="link" aria-label="Login" tabindex="0">Login</a> or 
                        <a routerLink="/signup" id="error-signup-link" role="link" aria-label="Sign Up" tabindex="0">Sign Up</a> 
                        page
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
