.error {
    background-color: #010127;
    height: 100%;
    margin: 0;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

@media (max-width: 992px) {

    .error { height: 100vh; }
}
